@import url("../../public/assets/css/scroll-bar.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #555;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.th {
  @apply text-sm font-normal capitalize text-[#6A6D78];
}

.white-text {
  @apply text-black;
}

.dark .white-text,
.dark.white-text {
  @apply text-white/80;
}

.text-hover-focus {
  @apply duration-150 hover:text-primary-base focus:text-primary-base group-hover:text-primary-base group-focus:text-primary-base dark:hover:text-primary-light dark:focus:text-primary-light dark:group-hover:text-primary-light dark:group-focus:text-primary-light;
}

.bg-hover-focus {
  @apply hover:bg-primary-base/10 hover:text-primary-base  focus:bg-primary-base/10 focus:text-primary-base;
}

/* start privacy policy */

#privacy-policy > h2 {
  @apply text-xl mt-10 mb-1;
}
#privacy-policy > ul {
  @apply list-disc pl-8;
}
#privacy-policy a {
  @apply duration-150 hover:text-primary-base focus:text-primary-base group-hover:text-primary-base group-focus:text-primary-base dark:hover:text-primary-light dark:focus:text-primary-light dark:group-hover:text-primary-light dark:group-focus:text-primary-light;;
}

/* end privacy policy */

@media (min-width: 1024px) {
  .testimony:nth-child(3n + 2) {
    transform: translateY(32px);
  }
}

.auth__card__shadow {
  box-shadow: 0px 15px 35px 0px #3c425714;

  box-shadow: 0px 5px 15px 0px #0000001f;
}

/* Container for the custom date input */
.date-input {
  position: relative;
  display: inline-block;
}

/* Hide the default calendar icon in the date input */
input[type="date"] {
  position: relative;
  /* padding-right: 2rem; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  position: absolute;
  right: 0.5rem;
  top: 25%;
  opacity: 0;
  -webkit-appearance: none;
}

.date-input::after {
  content: "\203A";
  rotate: 90deg;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  right: 0.5rem;
  top: 40%;
  transform: translateX(-50%);
  pointer-events: none;
}
