@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table > thead tr {
  background-color: transparent !important;
}

tr:last-child {
  border-top-width: 1px !important;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #555;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.th {
  @apply text-sm font-normal capitalize text-[#6A6D78];
}

.white-text {
  @apply text-black;
}

.dark .white-text,
.dark.white-text {
  @apply text-white/80;
}

.text-hover-focus {
  @apply duration-150 hover:text-primary-base focus:text-primary-base group-hover:text-primary-base group-focus:text-primary-base dark:hover:text-primary-light dark:focus:text-primary-light dark:group-hover:text-primary-light dark:group-focus:text-primary-light;
}

.bg-hover-focus {
  @apply hover:bg-primary-base/10 hover:text-primary-base  focus:bg-primary-base/10 focus:text-primary-base;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Webkit-based browsers */
}

@media only screen and (min-width: 624px) {
  *::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
    @apply dark:bg-[#23242C];
  }

  *::-webkit-scrollbar:horizontal {
    height: 8px; /* Adjust the height as needed */
  }

  *::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    @apply dark:bg-black;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ddd; /* set thumb color to dark gray */
    border-radius: 16px;
    border: 2px solid #f3f3f3; /* add space between thumb and track */
    @apply duration-300 dark:border-black dark:bg-main-gray-700;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    @apply dark:bg-main-gray-600;
  }
}

@media only screen and (min-width: 1024px) {
  *::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
    @apply dark:bg-[#23242C];
  }
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7 !important;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  @apply dark:bg-[#34353D];
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  @apply dark:bg-[#34353D];
}

@media (min-width: 1024px) {
  .testimony:nth-child(3n + 2) {
    transform: translateY(32px);
  }
}

.auth__card__shadow {
  box-shadow: 0px 15px 35px 0px #3c425714;

  box-shadow: 0px 5px 15px 0px #0000001f;
}

/* Container for the custom date input */
.date-input {
  position: relative;
  display: inline-block;
}

/* Hide the default calendar icon in the date input */
input[type="date"] {
  position: relative;
  /* padding-right: 2rem; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  position: absolute;
  right: 0.5rem;
  top: 25%;
  opacity: 0;
  -webkit-appearance: none;
}

.date-input::after {
  content: "\203A";
  rotate: 90deg;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  right: 0.5rem;
  top: 40%;
  transform: translateX(-50%);
  pointer-events: none;
}
