@import url("../../public/assets/css/scroll-bar.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #555;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.th {
  @apply text-sm font-normal capitalize text-[#6A6D78];
}

.white-text {
  @apply text-black;
}

.dark .white-text,
.dark.white-text {
  @apply text-white/80;
}

.text-hover-focus {
  @apply duration-150 hover:text-primary-base focus:text-primary-base group-hover:text-primary-base group-focus:text-primary-base dark:hover:text-primary-light dark:focus:text-primary-light dark:group-hover:text-primary-light dark:group-focus:text-primary-light;
}

.bg-hover-focus {
  @apply hover:bg-primary-base/10 hover:text-primary-base focus:bg-primary-base/10 focus:text-primary-base;
}

/* start privacy policy */

#privacy-policy > h2 {
  @apply mb-1 mt-10 text-xl;
}
#privacy-policy > ul {
  @apply list-disc pl-8;
}
#privacy-policy a {
  @apply duration-150 hover:text-primary-base focus:text-primary-base group-hover:text-primary-base group-focus:text-primary-base dark:hover:text-primary-light dark:focus:text-primary-light dark:group-hover:text-primary-light dark:group-focus:text-primary-light;
}

/* end privacy policy */

/* start calendar for date picker */
.react-daterange-picker__wrapper {
  @apply rounded-md hover:border-primary-base hover:text-primary-base focus:border-primary-base focus:text-primary-base dark:border-white/40 dark:hover:border-primary-light dark:hover:text-primary-light dark:focus:border-primary-light dark:focus:text-primary-light;
}

.react-daterange-picker__wrapper > button {
  @apply box-border !px-4 !py-[10px];
}
.react-daterange-picker__inputGroup {
  @apply hidden;
}
.react-daterange-picker__range-divider {
  @apply hidden;
}
.react-calendar {
  @apply !border-black !bg-white dark:!border-white/20 dark:!bg-black;
}
.react-calendar__tile--active {
  @apply !bg-primary-base dark:!bg-primary-light;
}
.react-calendar__tile--hasActive {
  @apply !bg-primary-base text-white dark:!bg-primary-light;
}
.react-calendar__tile--now {
  @apply !bg-transparent;
}
.react-calendar__month-view__days__day--weekend {
  @apply !text-red-700 dark:!text-red-500;
}
/* end calendar for date picker */

/* start products carousel */
.products .swiper-slide-next,
.products .swiper-slide-prev,
.products .swiper-slide {
  @apply lg:!scale-[0.8];
}
.products .swiper-slide-active {
  @apply lg:!scale-[1.1] z-10 duration-500;
}

/* end products carousel */

@media (min-width: 1024px) {
  .testimony:nth-child(3n + 2) {
    transform: translateY(32px);
  }

  .economy__calendar .react-daterange-picker__calendar--open{
    inset: calc(100% + 10px) auto auto 0px !important;
  }
}

.auth__card__shadow {
  box-shadow: 0px 15px 35px 0px #3c425714;

  box-shadow: 0px 5px 15px 0px #0000001f;
}

/* Container for the custom date input */
.date-input {
  position: relative;
  display: inline-block;
}

/* Hide the default calendar icon in the date input */
input[type="date"] {
  position: relative;
  /* padding-right: 2rem; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  /* display: none; */
  position: absolute;
  right: 0.5rem;
  top: 25%;
  opacity: 0;
  -webkit-appearance: none;
}

.date-input::after {
  content: "\203A";
  rotate: 90deg;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  right: 0.5rem;
  top: 40%;
  transform: translateX(-50%);
  pointer-events: none;
}

div.react-daterange-picker__calendar {
  @apply z-[45];
}
